# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.python-version

# Build
*.egg-info/
dist/
build/

# Env
.env

# Transcriptions
transcriptions/

# Editors
.vscode/
.idea/
*.swp
*.swo

docs/